@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'Montserrat', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* 1rem value: */
  font-size: 20px;
}
:root {
  --basic-font-family: "Montserrat", sans-serif;
  /* height of navbar in portrait, width in landscape and left value for positioning menu in landscape (all must be the same): */
  --bar-menu: 4rem;
}
/* body {
  background-color: rgba(168, 168, 168, 0.5);
} */
