@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Kalam', cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* 1rem value: */
  font-size: 20px;
}
:root {
  --titles-font-family: "Kalam", sans-serif;
  --basic-font-family: "Montserrat", sans-serif;
  /* height of navbar in portrait, width in landscape and left value for positioning menu in landscape (all must be the same): */
  --bar-menu: 4rem;
  --focus-color: #eaac33;
}
body {
  background-image: url("./assets/background/background_1280_853.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 100vh;
}
@media (orientation: landscape) {
  body {
    background-size: 100vw auto;
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  body {
    background-image: url("./assets/background/background_1920_1280.jpg");
  }
}
