@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Righteous&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
  @media (min-width: 800px) {
    & {
      font-size: 22px;
    }
  }
}
:root {
  --titles-font-family: "Righteous", sans-serif;
  --basic-font-family: "Comfortaa", sans-serif;
  --focus-color: #eaac33;
  --basic-color: #000;
  /* height of navbar in portrait, width in landscape and left value for positioning menu in landscape (all must be the same): */
  /* --bar-menu: 4rem; */
  --bar-menu: 80px;
}
body {
  background-image: url("./assets/background/background_1280.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 100vh;
  overflow-x: hidden;
  max-width: 1600px;
  margin: 0 auto;
}

@media (orientation: landscape) {
  body {
    background-size: 100vw auto;
  }
}

@media (orientation: landscape) and (min-width: 1000px) {
  html {
    font-size: 24px;
  }
  body {
    background-size: 120vw;
  }
}

@media (orientation: landscape) and (min-width: 1200px) {
  html {
    font-size: 26px;
  }
  body {
    background-image: url("./assets/background/background_1920.png");
    background-size: 100vw;
  }
}