.history-preview {
  width: 100%;
  padding: 0.2rem;
  font-family: var(--basic-font-family);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--basic-color);
}
.history-preview > * {
  margin-bottom: 0.4rem;
}
.polish,
.type,
.english {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.polish {
  font-size: 1.8rem;
}
.type {
  font-size: 1rem;
}
.english {
  font-size: 1.6rem;
}
